<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="В объективе"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diplom"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".EditUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailPhotosessionActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PhotoDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
             />
        <activity
            android:name=".photographmenuActivity"
            android:exported="false"
            android:label="@string/title_activity_photographmenu" />
        <activity
            android:name=".clientmenuActivity"
            android:exported="false"
             />
        <activity
            android:name=".ui.PhotoPublicActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.DetailPhotographProfileActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.dashboard.EditUserActivity"
            android:exported="false"
            />
        <activity
            android:name=".ui.PhotoActivityClient"
            android:exported="false"
            />
        <activity
            android:name=".ui.PhotoDetailActivityClient"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.DetailPhotosessionActivityClient"
            android:exported="false"
            android:label="@string/title_activity_menu_photographer"
            android:theme="@style/Theme.Diplom" />
        <activity
            android:name=".ui.login.RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>